:root {
  --width-img-list: 100px;
  --height-img-list: 100px;
  --width-item-list: 150px;
  --count-items-max-line: 2;
}

section ul {
  display: grid;
  grid-template-columns: repeat(var(--count-items-max-line), minmax(var(--width-item-list), 1fr));
  align-items: center !important;
  justify-content: center; !important;
  max-width: calc(var(--count-items-max-line) * 150px);
  padding: 0;
  gap: 2rem;

  margin-top: 24px;
  margin-bottom: 0;
  box-sizing: border-box;
}

section a {
  text-decoration: none;
  color: #F7F7F7;
}

section ul li {
  transition: transform .3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

section ul li:hover {
  transform: unset;
}

section ul li h3.title {
  text-align: center;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  /* Reticences */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-lines: 1;
  max-width: calc(var(--width-img-list) * 1.5);
}

.channel-list img {
  border-radius: 50%;
  width: var(--width-img-list);
  height: var(--height-img-list);
  border: 1px solid #443E54;
  color: #C2EAA2;
}

.social-list img, .general-list img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.donate-section {
  display: flex;
}

@media (min-width: 1200px) {
  :root {
    --count-items-max-line: 3;
  }
}

@media (max-width: 768px) {
  :root {
    --count-items-max-line: 3;
  }
}

@media (max-width: 650px) {
  :root {
    --count-items-max-line: 2;
  }
}

@media (max-width: 400px) {
  section ul {
    display: flex;
    flex-wrap: wrap;
  }
}