.menu {
    .menu-item-link {
        padding: 0.25rem 0.5rem;

        &:hover {
            background: #FFFFFF15;
        }
    }
}

header {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

header > div {
  width: 120px;
  margin: auto;
  background: var(--gradient-3);

  border-radius: 50%;

  display: flex;
  padding: 4px;

  transition: transform .3s;
}

header > div:hover {
  transform: scale(1.1)
}

header > div img {
  width: 100%;
  border-radius: 50%;
  min-height: 2rem;
}

header h1 {
  margin-top: 0.5rem;
  margin-bottom: 0 !important;
  text-decoration: unset;
  text-transform: lowercase;
  font-weight: 600;
  color: #FFFFFF;
}

header .link-style {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300 !important;
  margin-top: 0.5rem;
}

/* O contêiner principal para o indicador */
.live-indicator {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaço entre o ponto e o texto */
    background-color: rgba(224, 87, 79, 0.31);
    padding: 5px;
    border-radius: 5000px;
    font-family: sans-serif;
    color: #e0e0e0;
    font-size: 1.2rem;
}

/* O ponto vermelho que irá piscar */
.live-dot {
    --size: 10px;

    width: var(--size);
    height: var(--size);
    background-color: #a53728; /* Cor vermelha para "ao vivo" */
    border-radius: 50%; /* Transforma o quadrado em um círculo */

    /* A linha mais importante: aplica a nossa animação */
    animation: pulseAnimation 2s ease-in-out infinite;
}

/* A definição da animação "pulseAnimation" */
@keyframes pulseAnimation {
    0% {
        opacity: 1; /* Totalmente visível no início */
    }
    50% {
        opacity: 0.2; /* Esmaece até 20% da opacidade na metade */
    }
    100% {
        opacity: 1; /* Volta a ser totalmente visível no fim */
    }
}