.banner {
    background: #2A2634 !important;
    color: #FFF;
    border-radius: 10px;
    border: 1px solid #FFFFFF25;
    padding: 1.5rem ;
}

.banner .badge {
    background: #C2EAA2;
    color: #2A2634;
    border-radius: 50px;
    padding: 0.55rem 0.5rem 0.5rem 0.5rem;
    font-weight: 300;
    line-height: 1;
    margin-right: 0.5rem;
}

.banner .title {
    padding-bottom: 0;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 1rem 0;
    text-transform: initial;
    text-align: left;
}

.banner .emphasis {
    background: var(--gradient-3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text;
}

.banner .description {
    text-align: left;
}
